.head span {
    left: -5vw
}

.itembox {
    padding: 3vw 0 4vw;
    border-bottom: 1px solid #f0f0f0;
}

.itembox h5,
.itembox p {
    margin: 0;
    font-size: 4vw
}

.itembox p {
    font-size: 3.2vw;
    color: #999;
    margin-left: 3vw;
}

.one {
    display: flex;
    margin: 2vw 0;
}

.two {
    display: flex
}

.two div:first-child {
    width: 90%;
}

.two div:first-child button {
    font-size: 3.2vw;
    color: #ff9e33;
    background: #ffe9cc;
    border: none;
    border-radius: 1vw;
    padding: 1vw 2vw;
    margin-right: 2vw
}

.two div:first-child label {
    margin: 0vw 2vw 0vw 0vw;
    font-size: 3.8vw;
}

.two div:last-child {
    width: 10%;
    text-align: right;
    line-height: 9vw;
}

.two div:last-child img {
    height: 5.3vw;
    width: 5.3vw
}

.btn {
    border: none;
    border-radius: 6vw;
    background: linear-gradient(to bottom right, #fccf41, #FF9100);
    color: #fff;
    font-size: 5.3vw;
    width: 100%;
    line-height: 11vw;
}

.shouhuo {
    margin-top: 30%;
}