<ion-header>
    <ion-toolbar>
        <div class="headss">
            <div class="locate back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <div class="select">
                <ion-searchbar mode="md" type="search" autocomplete="on" autocorrect="on" spellcheck animated (ionInput)="filters($event)" placeholder="搜索内容，用户"></ion-searchbar>

                <!-- <input type="text" placeholder="在社区内搜索内容，用户"> -->
                <!-- <img src="assets/icon/home/ss.png" alt=""> -->

            </div>

            <div class="suosou">
                <span>搜索</span>

            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="border">
            <div class="xzbox">
                <ion-segment [(ngModel)]="xinyuan">
                    <ion-segment-button (ionSelect)="wish_wall()" value="wish-wall">
                        <ion-label>心愿</ion-label>
                        <img class="fx" *ngIf="wishwall==true" src="assets/icon/msg/XXX.png" alt="">
                    </ion-segment-button>
                    <ion-segment-button (ionSelect)="famouse_man()" value="famous-people">
                        <ion-label>用户</ion-label>
                        <img class="fx" *ngIf="famouseman==true" src="assets/icon/msg/XXX.png" alt="">
                    </ion-segment-button>
                    <ion-segment-button value="talent-show" (ionSelect)="talent_show()">
                        <ion-label>活动</ion-label>
                        <img class="fx" *ngIf="talentshow==true" src="assets/icon/msg/XXX.png" alt="">
                    </ion-segment-button>
                    <ion-segment-button value="meet-square" (ionSelect)="meet_square()">
                        <ion-label>邀约</ion-label>
                        <img class="fx" *ngIf="meetsquare==true" src="assets/icon/msg/XXX.png" alt="">
                    </ion-segment-button>
                </ion-segment>
            </div>
        </div>


        <div class="wishwall" *ngIf="wishwall==true">

            <div class="wishitem" (click)="toimgwish()">
                <img src="assets/icon/home/n.png" alt="">
                <p>{{wishmiaosu}}</p>
                <div class="peopleboxitem">
                    <div class="apeol">
                        <!-- <img class="huangx" *ngIf="IsVip==true" src="assets/icon/home/vip.png" alt=""> -->
                        <img class="huangx" *ngIf="ishuangguan==true" src="assets/icon/home/hg.png" alt="">
                        <img src="assets/icon/home/tx.png" alt="">
                    </div>
                    <div>
                        <label for="">{{manname}}</label>
                        <span>{{mancount}}人关注</span>
                    </div>
                </div>
                <div class="caozuo">
                    <div>
                        <img src="assets/icon/home/pinglun.png" alt="">
                        <span>{{pinglun}}</span>
                    </div>
                    <div (click)="dianzanfun()">
                        <img class="aixin" *ngIf="isdianzan==true" src="assets/icon/home/heart.png" alt="">
                        <img class="aixin" *ngIf="isdianzan==false" src="assets/icon/home/aixin.png" alt="">
                        <span>89897</span>
                    </div>
                </div>
            </div>
            <div class="wishitem le">
                <img (click)="toimgwish()" src="assets/icon/home/o7.png" alt="">
                <p>asndshfbdhfba都是减肥的办法就完事bdhsdbhsdb</p>
                <div class="peopleboxitem">
                    <div class="apeol">
                        <!-- <img class="huangx" *ngIf="IsVip==true" src="assets/icon/home/vip.png" alt=""> -->
                        <img class="huangx" *ngIf="ishuangguan==true" src="assets/icon/home/hg.png" alt="">
                        <img src="assets/icon/home/tx.png" alt="">
                    </div>
                    <div>
                        <label for="">{{manname}}</label>
                        <span>{{mancount}}人关注</span>
                    </div>
                </div>
                <div class="caozuo">
                    <div>
                        <img src="assets/icon/home/pinglun.png" alt="">
                        <span>889</span>
                    </div>
                    <div (click)="dianzanfun()">
                        <img class="aixin" *ngIf="isdianzan==true" src="assets/icon/home/heart.png" alt="">
                        <img class="aixin" *ngIf="isdianzan==false" src="assets/icon/home/aixin.png" alt="">
                        <span>89897</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="" *ngIf="famouseman==true">
            <div class="onebox" (click)="toelsehomepage()">
                <div class="oa">
                    <img class="toux" src="assets/icon/msg/i2.png" alt="">
                    <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                </div>
                <div class="ob">
                    <div style="width: 73%;">
                        <div class="clear">
                            <div class="huiyuanbox">
                                <label class="name">{{peoplename}}</label>
                                <div *ngIf="IsVip==true" style="display: inline-block;">
                                    <p class="huip">
                                        <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                        <img class="hui2" src="assets/icon/msg/huiyuan0.png" alt="">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div style="display:flex">
                            <div class="sl">
                                <p class="miaosu">{{qianming}}</p>
                            </div>

                        </div>
                    </div>

                    <div class="guanz">
                        <div (click)="Isguanzhu()">
                            <button class="weiguanzhu" *ngIf="guanzhu==false">
                            <span>关注</span>
                        </button>
                            <button class="yiguanzhu" *ngIf="guanzhu==true">
                           已关注
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="talentshow" *ngIf="talentshow==true">
            <div class="activebox">
                <div class="">
                    <div class="xuanzbox">
                        <ion-segment [(ngModel)]="activity" color="warning">
                            <ion-segment-button value="weikais" (ionSelect)="weikaishifun()">
                                <ion-label>未开始活动</ion-label>
                                <img *ngIf="weikaishi!=true" class="huodimg" src="assets/icon/activity/xiala.png" alt="">
                                <img *ngIf="weikaishi==true" class="huodimg" src="assets/icon/activity/xiala1.png" alt="">
                            </ion-segment-button>
                            <ion-segment-button (ionSelect)="yikaishufun()">
                                <ion-label>进行中活动</ion-label>
                                <img *ngIf="yikaishi!=true" class="huodimg" src="assets/icon/activity/xiala.png" alt="">
                                <img *ngIf="yikaishi==true" class="huodimg" src="assets/icon/activity/xiala1.png" alt="">

                            </ion-segment-button>
                            <ion-segment-button (ionSelect)="yijieshufun()">
                                <ion-label>结束活动</ion-label>
                                <img *ngIf="yijieshu!=true" class="huodimg" style="right: -11vw;" src="assets/icon/activity/xiala.png" alt="">
                                <img *ngIf="yijieshu==true" class="huodimg" style="right: -11vw;" src="assets/icon/activity/xiala1.png" alt="">

                            </ion-segment-button>

                        </ion-segment>
                    </div>

                </div>
            </div>
            <div class="weikaishibox" *ngIf="weikaishi==true">


                <div class="acitemBox" style="margin-top: -1vw;" (click)="hddetails()">
                    <img src="assets/icon/home/n2.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia" (click)="hddetails()">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acitemBox">
                    <img src="assets/icon/activity/i5.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yikaishibox" *ngIf="yikaishi==true">


                <div class="acitemBox" style="margin-top: -1vw;" (click)="hddetails()">
                    <img src="assets/icon/activity/i5.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia" (click)="hddetails()">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acitemBox">
                    <img src="assets/icon/home/n2.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yijieshubox" *ngIf="yijieshu==true">


                <div class="acitemBox" style="margin-top: -1vw;" (click)="hddetails()">
                    <img src="assets/icon/activity/i5.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia" (click)="hddetails()">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acitemBox">
                    <img src="assets/icon/activity/i5.png" alt="">
                    <div class="xiangBox">
                        <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
                        <div>
                            <div class="xiangitem">
                                <p class="xbox">
                                    <span>你说的就是不的话粉色的发布会的吧</span>
                                </p>
                                <p class="xia">查看详情
                                    <img src="assets/icon/activity/youla1.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="caozuoBox">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/chakan.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="meetsquare" *ngIf="meetsquare==true">

            <div class="acitemBox">
                <img src="assets/icon/home/q2.png" alt="">
                <div class="xiangBoxyy">
                    <h4>斯顿南京阿森纳多</h4>
                    <div>
                        <div class="xiangitem">
                            <p class="xbox">
                                <span>你是不的话粉色的发布会</span>
                            </p>
                            <p class="xia">查看详情
                                <img src="assets/icon/activity/youla1.png" alt="">
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="caozuoBoxyy">
                            <div>
                                <div class="oneboxyy">
                                    <div class="oayy">
                                        <img class="touxyy tximgs" src="assets/icon/msg/i2.png" alt="">
                                        <img class="vipyy" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                                    </div>
                                    <div class="obyy" (click)="tohuodong()">
                                        <div class="clearyy">
                                            <div class="huiyuanboxyy">
                                                <h4 class="nameyy">不好的分别完成</h4>
                                                <div *ngIf="IsVip==true">
                                                    <p class="huipyy">
                                                        <img class="hui1yy" src="assets/icon/msg/huiyuan.png" alt="">
                                                        <img class="hui2yy" src="assets/icon/msg/huiyuan0.png" alt="">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="czlast">
                                <div>
                                    <img src="assets/icon/activity/pinlun.png" alt="">
                                    <span>89897</span>
                                </div>
                                <div>
                                    <img src="assets/icon/activity/renqun.png" alt="">
                                    <span>89897</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ion-content>