<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>等级说明</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg">
        <div class="tablebox">
            <div class="tb">
                <table border="1" align="center">
                    <tr>
                        <th>等级会员</th>
                        <th>充值(RMB)</th>
                        <th>丁神币</th>
                        <th>积分</th>
                    </tr>
                    <tr>
                        <td class="fw">L1</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="fw">L2</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="fw">L3</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="fw">L4</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="fw">L5</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="fw">L6</td>
                        <td>$100</td>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</ion-content>