<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>充值协议</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="cent">
            <p class="xieyip">1.1丁神网络服务的具体内容由丁神根据实际情况提供。 1.2用户在使用本站服务时，丁神有权收取一定的服务费。服务费的收取标准以平台展示或约定为准。丁神有权单方面调整上述收费标准，如用户在调整收费标准后继续使用本站服务，即视为接受调整后的收费标准；否则用户应立即暂停使用本站服务。如用户拒绝支付相关费用，则丁神有权不向用户提供该等收费网络服务。 2. 服务变更、中断或终止 2.1用户理解，丁神需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，丁神无需为此承担任何责任，但丁神应尽可能事先进行通告。
                2.2无论本协议是否有其他约定，如发生下列任何一种情形，丁神有权随时中断或终止向用户提供本协议项下的网络服务【该网络服务包括但不限于收费及免费网络服务】而无需对用户或任何第三方承担任何责任或义务： 2.2.1 用户提供的个人资料不真实； 2.2.2 用户违反本协议中规定的使用规则及不时的更新、丁神不时发布及更新的相关操作规则及要求； 2.2.3 用户在使用收费网络服务时未按规定向丁神支付相应的服务费； 2.2.4 用户恶意操作、诋毁、损害丁神声誉； 2.2.5 用户利用丁神网络服务从事违反国家法律法规活动（包括但不限于洗钱）。
                2.3在2.2.5的情况下，如有关政府主管部门要求丁神配合相关调查、采取相关监管、处罚措施，丁神将尽全力配合，因此给用户带来的操作不能、操作不便等，丁神不承担任何责任。 2.4如变更、中断或终止的网络服务属于免费网络服务，丁神无需通知用户，也无需对任何用户或任何第三方承担任何责任；如变更、中断或终止的网络服务属于收费网络服务，丁神应当在变更、中断或终止之前事先通知用户，并应向受影响的用户提供等值的替代性的收费网络服务，如用户不愿意接受替代性的收费网络服务，就该用户已经向丁神支付的服务费，丁神应当按照该用户实际使用相应收费网络服务的情况扣除相应服务费之后将剩余的服务费退还给该用户。
                3. 使用规则 3.1用户在申请使用丁神网络服务时，必须向丁神提供真实准确的个人资料，如个人资料有任何变动，须及时根据丁神的业务规则向丁神更新。 3.2用户注册成功后，丁神将向用户配发一个用户帐号、密码、客户证书（如有）、U盾（如有），用户应当对以其用户帐号进行的所有活动和事件负法律责任。 3.3用户应妥善保管其账号、密码、客户证书（如有）及U盾（如有），不应将其帐号、密码、客户证书（如有）、U盾（如有）转让或出借予他人使用。用户并将以不时修改密码、更新客户证书（如有）、U盾（如有）等方式确保其账户安全。如用户发现其帐号遭他人非法使用、密码泄露、客户证书（如有）或U盾（如有）损坏等情况，应立即通知丁神。因黑客行为或用户的保管疏忽导致帐号、密码、客户证书（如有）、U盾（如有）遭他人非法使用，丁神不承担任何责任。
                3.4用户同意丁神有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在丁神网站的任何页面上投放广告），并且，用户同意接受丁神通过电子邮件、短信或其他方式向用户发送产品或其他相关商业信息。 3.5用户在使用丁神网络服务过程中，必须遵循以下原则： 3.5.1 遵守中国有关的法律和法规； 3.5.2 遵守本协议中规定的使用规则及不时的更新、丁神不时发布及更新的相关操作规则及要求； 3.5.3 不得为任何非法目的而使用网络服务系统；
                3.5.4 不得以任何形式使用丁神网络服务侵犯丁神的商业利益； 3.5.5 不得利用丁神网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为； 3.5.6 不得利用丁神网络服务系统进行任何不利于丁神的行为。 3.6用户理解，丁神仅提供相关网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。

            </p>
        </div>
    </div>
</ion-content>