<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>头像挂件</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cent">

        <div class="itembox spa">
            <div class="item">
                <img src="assets/icon/hanger/q1.png" alt="">
                <p class="pw">度假</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>

                </div>

            </div>
            <div class="item">
                <img src="assets/icon/hanger/q2.png" alt="">
                <p>蝴蝶节</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>
            <div class="item">
                <img src="assets/icon/hanger/q3.png" alt="">
                <p>兔耳朵</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>
            <div class="item">
                <img class="imgw" src="assets/icon/hanger/q4.png" alt="">
                <p>小熊啊</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>

        </div>
        <div class="itembox spa">
            <div class="item">
                <img src="assets/icon/hanger/q5.png" alt="">
                <p>VIP1</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>

                </div>

            </div>
            <div class="item">
                <img src="assets/icon/hanger/q6.png" alt="">
                <p>夏日海滩</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>
            <div class="item">
                <img src="assets/icon/hanger/q7.png" alt="">
                <p>猫咪爱吃鱼</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>
            <div class="item">
                <img src="assets/icon/hanger/q8.png" alt="">
                <p>小白兔子</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>

        </div>
        <div class="itembox">
            <div class="item">
                <img class="imgw" src="assets/icon/hanger/q9.png" alt="">
                <p>可爱猪猪</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>

                </div>

            </div>
            <div class="item">
                <img src="assets/icon/hanger/q10.png" alt="">
                <p class="pw">墨镜</p>
                <div (click)="usedfun()">
                    <button class="btn weiused" *ngIf="isused!=true">
                        <span >使用</span>
                      </button>
                    <button class="btn" *ngIf="isused==true">
                          <span >当前</span>
                    </button>
                </div>
            </div>


        </div>
    </div>
</ion-content>