.cgimg {
    height: 35vw;
}

.cgbox {
    text-align: center;
    padding-top: 31vw;
}

.back img {
    left: 2vw;
}

.cgbox h4 {
    font-size: 4.5vw;
}

.as {
    height: 40vw;
}

.btnb {
    font-size: 3.2vw;
    border-radius: 5vw;
    outline: none;
    padding: 4vw 0;
    margin-top: 50% !important;
    background: linear-gradient(to right, #FCCD3F, #FF9302) !important;
    color: #fff;
    border: none !important;
    width: 90%;
    margin-left: 5%;
}