<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>主题背景</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="body">
        <div class="bg">
            <img src="assets/icon/zhuti/bg1.png" alt="">
            <p>会员特权: <span>免费使用所有背景墙</span></p>
            <p>背景墙简介: <span>诸事顺利</span></p>
        </div>
        <button class="btn" (click)="toviplevel()">使用</button>
    </div>
</ion-content>