<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>上传凭证</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="borderbox">
        <div class="cent">
            <p class="biaoti">
                <img src="assets/icon/hand/hd.png" alt="">
                <span>我的凭证</span>
            </p>
            <div class="miaoshubox">
                <p>描述：</p>
                <textarea autofocus cols="30" maxlength="100" placeholder="请输入..." required="" rows="7"></textarea>
            </div>
        </div>
    </div>
    <div class="borderbox">
        <div class="miaoshubox cent">
            <p>照片：</p>
            <div class="dis">
                <div>
                    <input type="file" [(ngModel)]="imgsrc" input-on-change="uploadDown" class="uploadImg" accept="image/*">
                </div>
                <div class="scimgbox"></div>
                <div class="scimgbox"></div>
                <div class="scimgbox"></div>
                <div class="scimgbox"></div>
            </div>
            <div class="xuanzbox">
                <p>同时转动态：</p>
                <div class="select">
                    <input id="confirm" checked type="checkbox" />
                    <label for="confirm"></label>
                </div>
                <!-- <img src="assets/icon/last/xaunzhe.png" alt=""> -->
            </div>
            <button (click)="tosuccess()" class="scbtn">上传凭证</button>
        </div>
    </div>
</ion-content>