.head span {
    left: -5vw;
}

.biaoti img {
    height: 4.3vw;
    width: 1.33vw;
}

.biaoti {
    margin: 0 !important;
    background: #fff;
}

.biaoti span {
    font-size: 4.3vw;
    font-weight: 700;
    margin: 0 3vw 0
}

.miaoshubox p {
    font-size: 3.8vw;
    margin: 2vw 0;
}

.miaoshubox textarea {
    width: 100%;
    resize: none;
    font-size: 3.5vw;
    border: 1px solid #dcdcdc8a;
    border-radius: 2vw;
    outline: none;
    padding: 2vw;
}

.scimgbox {
    background-image: url(../../assets/icon/tab3/img0.png) !important;
}

.borderbox {
    border-top: 3vw solid #f7f7f7;
    padding: 2vw
}

.dis {
    display: flex;
    flex-wrap: wrap;
}

.xuanzbox {
    display: flex
}

.scbtn {
    background: linear-gradient(to right, #FCCD3F, #FF9302);
    font-size: 4.5vw;
    color: #fff;
    border: none;
    border-radius: 5vw;
    padding: 4vw;
    outline: none;
    width: 90%;
    margin: 5%;
}

.xuanzbox img {
    height: 5.4vw;
}

.dis div {
    position: relative;
    max-width: 31%;
    height: 30vw;
    margin-left: 2vw;
    width: 30vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
    // background-size: cover;
    background-image: url("../../assets/icon/tab3/img1.png");
}

.uploadImg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.select input[type=checkbox] {
    opacity: 0;
    // -webkit-appearance: none;
    height: 6vw;
    width: 10vw;
    position: relative;
    z-index: 100;
}

.select {
    padding-top: 2vw;
}

.select input[type=checkbox]+label {
    display: block;
    height: 5.4vw;
    width: 9.4vw;
    overflow: hidden;
    background: url("../../assets/icon/last/xz.png") no-repeat;
    background-size: 9.4vw 5.4vw;
    float: left;
}

.select input[type=checkbox]:checked+label {
    background: url("../../assets/icon/last/xaunzhe.png") no-repeat;
    background-size: 9.4vw 5.4vw;
}