<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="locate back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <div class="select">
                <input type="text" placeholder="在社区内搜索内容，用户">
                <img src="assets/icon/home/select.png" alt="">
            </div>

            <div class="suosou">
                <span>搜索</span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bodybox">
        <div>
            <p>最近搜索</p>
            <div class="a" *ngFor="let item of zuijinsuosou">
                <label for="">{{item}}</label>
            </div>

        </div>
        <div>
            <p>常用分类</p>
            <div class="a" *ngFor="let item of suosouchangyong">
                <label for="">{{item}}</label>
            </div>

        </div>
    </div>
</ion-content>