<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>关于我们</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cent">

        <p class="guanyu"><img src="assets/icon/set/gy.png" alt=""> <span> 关于丁神</span></p>
        <p class="guanyuwm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{guanyuwomen}}</p>
        <p class="guanyuwm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{guanyuwomen}}</p>
    </div>

</ion-content>