.tabimg {
    // width: 4.9vw;
    height: 5.6vw;
}

.wishimg {
    height: 12.6vw;
    width: 14.6vw;
    // position: absolute;
    // top: -1vw;
}

@media screen and (min-width: 400px) {
    .wishimg {
        height: 13.6vw;
    }
}

.hydrated {
    visibility: inherit;
    font-size: 2.7vw;
}