.itembox {
    border-bottom: 1px solid #e8e8e8;
    padding: 3vw 2vw;
    margin-top: 8vw;
    position: relative;
}

.itembox input {
    font-size: 3.9vw;
    line-height: 5vw;
    margin-left: 4vw;
    width: 88%;
    border: none;
}

.btnbox {
    position: absolute;
    bottom: 36%;
}

.mima {
    height: 4vw;
    width: 3.4vw;
    position: relative;
    top: 0.5vw;
}

.cent {
    width: 80%;
    margin: 0 10%
}

input,
button {
    outline: none;
}

.code {
    height: 4.7vw;
    width: 4.2vw;
    position: relative;
    top: 0.5vw;
}

.getcode {
    color: #ffae44;
    font-size: 3.9vw;
    position: absolute;
    right: 2vw;
    top: 0
}

.getcode button {
    background: transparent;
    color: #ffae44;
    font-size: 4vw;
}

.loginbtn {
    border: none;
    border-radius: 6vw;
    background: linear-gradient(to bottom right, #fccf41, #FF9100);
    color: #fff;
    font-size: 5.3vw;
    width: 100%;
    line-height: 13vw;
}

.towbox {
    margin: 5vw 0;
    font-size: 4vw;
}

.head span {
    left: -5vw;
}