<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>找回密码</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="cent">
        <div class="itembox">
            <img src="assets/icon/login/mima.png" class="mima" alt="">
            <input type="number" [(ngModel)]="passw" placeholder="请输入密码" pattern="[0-9]*">
        </div>
        <div class="itembox">
            <img src="assets/icon/login/mima.png" class="mima" alt="">
            <input type="number" [(ngModel)]="pass" placeholder="请再次输入密码" pattern="[0-9]*">
        </div>

    </div>
    <div class="cent btnbox">
        <button (click)="tologin()" class="loginbtn">完成</button>
    </div>

</ion-content>