<ion-content>
    <div class="body">

        <div (click)="guanbi()">
            <div *ngIf="show1==true" class="yinyin">
                <div class="caozuobox">
                    <label (click)="cancel()" for="">
                  <span>删除</span>
                </label>
                    <label (click)="cancel()" for="">取消</label>
                </div>
            </div>
        </div>
        <div class="imgboxs">
            <div class="sanbox">
                <img class="san" (click)="showdelete()" src="assets/icon/mine/asan.png" alt="">
            </div>
            <div class="imgbox">
                <img src="assets/icon/home/n2.png" alt="">
            </div>
        </div>

    </div>
</ion-content>