<ion-header>
    <div class="head">
        <div class="locate" (click)="dingwei()">
            <img src="assets/icon/activity/location.png" alt="">
            <span>定位</span>
        </div>
        <div class="select">
            <input type="text" placeholder="在社区内搜索内容，用户">
            <img src="assets/icon/activity/suosou.png" alt="">
        </div>

        <div class="scanbox">
            <img src="assets/icon/activity/scan.png" class="scan" alt="">
        </div>
    </div>
</ion-header>
<ion-content>

    <div class="activebox">
        <div class="">
            <div class="cent">
                <ion-segment [(ngModel)]="activity" color="warning">
                    <ion-segment-button value="weikais" (ionSelect)="segmentButtonClicked($event)">
                        <ion-label>未开始活动</ion-label>
                    </ion-segment-button>
                    <ion-segment-button (ionSelect)="segmentButtonClicked($event)">
                        <ion-label>进行中活动</ion-label>
                    </ion-segment-button>
                    <ion-segment-button (ionSelect)="segmentButtonClicked($event)">
                        <ion-label>结束活动</ion-label>
                    </ion-segment-button>

                </ion-segment>
            </div>

            <!-- <div>
                <span>未开始活动</span>
                <img src="assets/icon/activity/xiala.png" alt="">
            </div>
            <div>
                <span>进行中活动</span>
                <img src="assets/icon/activity/xiala1.png" alt="">
            </div>
            <div>
                <span>结束活动</span>
                <img src="assets/icon/activity/xiala.png" alt="">
            </div> -->
        </div>
    </div>

    <div class="acitemBox">
        <img src="assets/icon/activity/i5.png" alt="">
        <div class="xiangBox">
            <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
            <div>
                <div class="xiangitem">
                    <p class="xbox">
                        <span>你说的就是不的话粉色的发布会的吧</span>
                    </p>
                    <p class="xia">查看详情
                        <img src="assets/icon/activity/youla1.png" alt="">
                    </p>
                </div>
            </div>
            <div>
                <div class="caozuoBox">
                    <div>
                        <img src="assets/icon/activity/pinlun.png" alt="">
                        <span>89897</span>
                    </div>
                    <div>
                        <img src="assets/icon/activity/chakan.png" alt="">
                        <span>89897</span>
                    </div>
                    <div>
                        <img src="assets/icon/activity/renqun.png" alt="">
                        <span>89897</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="acitemBox">
        <img src="assets/icon/activity/i5.png" alt="">
        <div class="xiangBox">
            <h4>最新的阿斯顿南京阿森纳多久啊是吧</h4>
            <div>
                <div class="xiangitem">
                    <p class="xbox">
                        <span>你说的就是不的话粉色的发布会的吧</span>
                    </p>
                    <p class="xia">查看详情
                        <img src="assets/icon/activity/youla1.png" alt="">
                    </p>
                </div>
            </div>
            <div>
                <div class="caozuoBox">
                    <div>
                        <img src="assets/icon/activity/pinlun.png" alt="">
                        <span>89897</span>
                    </div>
                    <div>
                        <img src="assets/icon/activity/chakan.png" alt="">
                        <span>89897</span>
                    </div>
                    <div>
                        <img src="assets/icon/activity/renqun.png" alt="">
                        <span>89897</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



</ion-content>