<ion-content>

    <div class="bg">
        <div class="headtab1">
            <div class="locate" (click)="dingwei()">
                <img src="assets/icon/home/location.png" alt="">
                <span>定位</span>
            </div>
            <div class="select" (click)="toselect()">
                <input type="text" placeholder="在社区内搜索内容，用户">
                <img src="assets/icon/home/select.png" alt="">
            </div>

            <div class="scanbox">
                <img src="assets/icon/home/scan.png" class="scan" alt="">
            </div>
        </div>
    </div>


    <div class="tuijian">
        <h1>''活动推荐''</h1>
        <div (click)="tohand()">
            <div class="tui1">
                <img src="assets/icon/home/i1.png" alt="">
            </div>
            <div class="tui2">
                <p>{{name}}</p>
                <p><span>{{miaosu}}</span></p>
                <button>抹一把</button>
            </div>
        </div>
    </div>

    <div>
        <ion-segment [(ngModel)]="xinyuan" color="warning">
            <ion-segment-button (ionSelect)="wish_wall()" value="wish-wall">
                <ion-label>心愿墙</ion-label>
            </ion-segment-button>
            <ion-segment-button (ionSelect)="famouse_man()" value="famous-people">
                <ion-label>达人榜</ion-label>
            </ion-segment-button>
            <ion-segment-button value="talent-show" (ionSelect)="talent_show()">
                <ion-label>达人秀</ion-label>
            </ion-segment-button>
            <ion-segment-button value="meet-square" (ionSelect)="meet_square()">
                <ion-label>邀约广场</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div class="wishwall" *ngIf="wishwall==true">

            <div class="wishitem">
                <img src="assets/icon/home/n.png" alt="">
                <p>{{wishmiaosu}}</p>
                <div class="caozuo">
                    <div>
                        <img src="assets/icon/home/pinglun.png" alt="">
                        <span>{{pinglun}}</span>
                    </div>
                    <div>
                        <img src="assets/icon/home/aixin.png" alt="">
                        <!-- <img src="assets/icon/home/heart-copy.png" *ngIf="dianzan===1" alt=""> -->
                        <span>{{aixin}}</span>
                    </div>
                </div>
            </div>
            <div class="wishitem le">
                <img src="assets/icon/home/n3.png" alt="">
                <p>asndshfbdhfba都是减肥的办法就完事bdhsdbhsdb</p>
                <div class="caozuo">
                    <div>
                        <img src="assets/icon/home/pinglun.png" alt="">
                        <span>889</span>
                    </div>
                    <div>
                        <img src="assets/icon/home/aixin.png" *ngIf="dianzan!=1" alt="">
                        <img src="assets/icon/home/heart-copy.png" *ngIf="dianzan == 1" alt="">
                        <span>9767</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="famouspeople" *ngIf="famouseman==true">
            <div class="onebox">
                <div class="oa">
                    <img class="toux" src="assets/icon/msg/i2.png" alt="">
                    <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                </div>
                <div class="ob">
                    <div class="clear">
                        <div class="huiyuanbox">
                            <label class="name">{{peoplename}}</label>
                            <div *ngIf="IsVip==true" style="display: inline-block;">
                                <p class="huip">
                                    <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                    <img class="hui2" src="assets/icon/msg/huiyuan0.png" alt="">
                                </p>
                            </div>
                        </div>

                        <div class="lastbox">
                            <span class="time">{{hour}}</span>
                        </div>

                    </div>
                    <div style="display:flex">
                        <div class="sl">
                            <p class="miaosu">{{qianming}}</p>
                        </div>
                        <div class="guanz">
                            <div (click)="Isguanzhu()">
                                <button class="weiguanzhu" *ngIf="guanzhu==false">
                                    <span>关注</span>
                                </button>
                                <button class="yiguanzhu" *ngIf="guanzhu==true">
                                   已关注
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="talentshow" *ngIf="talentshow==true">

            <div class="darenxiubox">
                <div class="towbox">
                    <div class="oa">
                        <img class="toux" src="assets/icon/msg/i2.png" alt="">
                        <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                    </div>
                    <div class="ob">
                        <div class="clear">
                            <div class="huiyuanbox">
                                <label class="name">{{darenxiuname}}</label>
                                <div *ngIf="IsVip==true" style="display: inline-block;">
                                    <p class="huip">
                                        <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                        <img class="hui2" src="assets/icon/msg/huiyuan0.png" alt="">
                                    </p>
                                </div>
                                <p class="fabutime">{{hour}}</p>

                            </div>

                            <div class="lastbox">
                                <div class="guanbox">
                                    <div (click)="Isguanzhu()">
                                        <button class="weiguanzhu" *ngIf="guanzhu==false">
                                                            <span>关注</span>
                                                        </button>
                                        <button class="yiguanzhu" *ngIf="guanzhu==true">
                                                           已关注
                                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fabuneir cent">
                    <p>{{fabumiaosu}}</p>
                    <div class="as">
                        <div>
                            <img class="" src="assets/icon/home/o1.png" alt="">
                        </div>
                        <div>
                            <img class="" src="assets/icon/home/o2.png" alt="">
                        </div>
                        <div>
                            <img class="" src="assets/icon/home/o1.png" alt="">
                        </div>
                    </div>
                    <div class="onebox" style="margin-top: 2vw;">
                        <div>
                            <img class="huodongimg" src="assets/icon/home/o3.png" alt="">
                        </div>
                        <div class="huodongnr">
                            <label for="">{{huodongbiaoti}}</label>
                            <p>{{huodongmiaosu}}</p>
                            <div class="jiezhibox">
                                <div>
                                    <span>{{stoptime}}截止</span>
                                </div>

                                <div>
                                    <img class="wz" src="assets/icon/home/wz.png" alt="">
                                    <span>{{dizhi}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="meetsquare" *ngIf="meetsquare==true">

        </div>
    </div>

</ion-content>