.biaoti {
    background: #f7f7f7;
    margin: 0;
    padding: 2vw 0;
    color: #acacac;
    font-size: 2.9vw;
    padding-left: 4vw;
}

.headlocation {
    text-align: center;
    overflow: hidden;
    width: 98%;
}

.loca {
    margin-left: 5%;
    font-size: 3.5vw;
    line-height: 10vw;
    border-bottom: 1px solid #bdbdbd38;
}

// .headlocation img {
//     height: 5.1vw;
//     width: 2.7vw;
//     float: left;
// }
.headlocation span {
    font-size: 4.3vw;
    color: #333333;
    font-size: 4.3vw;
    line-height: 12.5vw;
    color: #333333;
    text-align: center;
}

.back {
    display: inline;
    width: 12vw;
    height: 11vw;
    float: left;
    padding: 4.5vw 3vw;
}

// .back img {
//     height: 3.8vw;
//     width: 2vw;
// }
.nowBox img {
    height: 5.3vw;
    width: 4vw;
    position: relative;
    top: 1vw;
}

.nowcity {
    color: #ff9406;
    font-size: 3.7vw;
    margin: 0 3vw;
    line-height: 12vw;
}

.nowBox p {
    padding-left: 4vw;
    margin: 0;
}

.city p {
    padding-left: 4vw;
    margin: 0;
    line-height: 8vw;
    font-size: 3.7vw;
}

a {
    color: #000;
    --ion-color-primary: #000;
    list-style: none;
    text-decoration: none
}

.city p {
    border-bottom: 1px solid #dcdcdc47;
}

.Letter {
    display: inline-block;
    width: 10%;
    height: 80%;
    padding: 2vw;
    position: fixed;
    top: 20%;
    right: 0;
}

.Letter p {
    margin: 0;
    margin: 2vw;
    font-size: 3.7vw;
}

.Letter i {
    font-size: 3vw;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 1vw 0;
}