.firstbox {
    width: 80%;
    margin-left: 10%;
    margin-top: 30%;
    text-align: center;
    margin-bottom: 10vw
}

.firstbox h4 {
    font-size: 4.5vw;
}

.firstbox p {
    font-size: 3.7vw
}

.firstbox img {
    height: 35vw;
}

.secondbox {
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
    width: 90%;
    text-align: center
}

.secondbox img {
    height: 7.5vw
}

.secondbox p {
    color: #999;
    font-size: 3.5vw;
    margin: 0;
}

.onebox {
    display: flex;
    justify-content: space-between;
    margin: 4vw 5% 0vw;
    border-radius: 2vw;
}

.toux {
    height: 11.3vw;
    width: 11.3vw;
}

.clear {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    position: relative;
    top: -0.7vw;
}

.time {
    color: #999;
    font-size: 3.2vw;
}

.oa {
    width: 13% !important;
    position: relative !important;
}

.vip {
    height: 4.5vw;
    width: 5.2vw;
    position: absolute;
    left: 0vw;
    top: -2.5vw;
}

.ob {
    width: 84% !important;
    text-align: left;
}

.miaosu {
    font-size: 3.5vw;
    color: #999;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.name {
    color: #333;
    font-size: 3.8vw;
    font-weight: 500;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: pre-line;
}

.huip {
    margin: 0;
}

.hui1 {
    height: 4.1vw;
    width: 8.8vw;
    margin: 0 2vw;
}

.hui2 {
    height: 4.1vw;
    width: 3.7vw;
}

.sl {
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-line;
    width: 100%;
    line-height: 6vw;
}

.highter {
    color: #ff9100;
    font-size: 3.5vw;
    border-radius: 5vw;
    outline: none;
    margin-left: 4vw;
    font-weight: 600;
    background: #fff;
    border: 1px solid #ff9100;
    padding: 1vw 3vw;
}

.highter img {
    height: 3.5vw;
    position: relative;
    top: 0.3vw;
}

.imgbox {
    padding: 3vw 5%;
}

.imgbox img {
    border-radius: 5vw;
    height: 57.6vw;
    width: 100%;
}

.codebox {
    display: flex;
    width: 87%;
    margin-left: 5%;
    justify-content: space-between
}

.codebox img {
    width: 19vw;
    height: 19.2vw;
}

.codebox p {
    font-size: 3.5vw;
    margin: 0;
    width: 100%;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 3;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
}

.sl1 {
    // display: inline-block;
    // text-align: left;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    height: 19vw;
    width: 75%;
    font-size: 3.5vw;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.baocun {
    width: 90%;
    margin-left: 5%;
    margin-top: 6vw;
}

.baocun button {
    font-size: 3.2vw;
    border-radius: 5vw;
    outline: none;
    background: #fff;
    width: 100%;
    border: 1px solid #ff9100;
    padding: 4vw 0;
    margin-top: 1vw;
}

.fanhui {
    color: #ff9100;
    font-size: 3.2vw;
    margin-top: 4vw !important
}

.baoc {
    background: linear-gradient(to right, #FCCD3F, #FF9302) !important;
    color: #fff;
    border: none !important
}

.aname {
    color: #333;
    font-size: 3.8vw;
    font-weight: 500;
    margin: 0;
    width: 50%;
    display: inline-block;
    height: 5vw;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: pre-line;
}

.Album {
    padding: 0vw 0 6vw;
    border-radius: 3vw;
    background: #fff;
    width: 90%;
    margin: 0 5%;
    position: fixed;
    bottom: 17vw;
    z-index: 900
}

.yinyin {
    height: 100%;
    width: 100%;
    background: #1f1e1ead;
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.huiyuanbox {
    display: flex
}

.oba {
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.oba label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.oaa {
    width: 55%;
}

.baoc {
    margin-top: 50% !important;
}