<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>特权福利</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div class="headbox">
            <img src="assets/icon/fuli/tequanbg.png" alt="">
        </div>
        <div class="badybox">
            <div class="title">
                <h4>L3-L5中级梦想师</h4>
            </div>
            <ul>
                <li>发布心愿排名靠前</li>
                <li>专属头像</li>
                <li>签到积分翻倍特权</li>
                <li>专属贵族徽章</li>
                <li>每月免费师打卡机啊合法化</li>
                <li>能否尽快哈电话费 i 速度</li>
            </ul>
        </div>
    </div>
</ion-content>