<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>参与人员情况</span>

        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="body">
        <div class="one">
            <div>
                <img src="assets/icon/home/W1.png" alt="">
                <p>活动名称：{{mingchen}}</p>
            </div>
            <div>
                <img src="assets/icon/home/W2.png" alt="">
                <p>第一关卡：{{neirong}}</p>
            </div>
            <div>
                <img src="assets/icon/home/W3.png" alt="">
                <p>{{dizhi}}</p>
            </div>
        </div>

        <div class="shunxu">
            <div class="cent">
                <img src="assets/icon/home/W4.png" alt="">
                <h4>各路探险者完成排序 <span>
                    (按照完成时间排序)</span> </h4>
            </div>
        </div>

        <div class="darenxiuitem">
            <div class="darenxiubox">
                <div style="height:3vw"></div>
                <div class="towbox">
                    <div class="oa">
                        <img class="toux" src="assets/icon/msg/i2.png" alt="">
                        <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                    </div>
                    <div class="ob">
                        <div class="clear">
                            <div class="huiyuanbox">
                                <label class="name">{{manname}}</label>
                                <div *ngIf="IsVip==true" style="display: inline-block;">
                                    <p class="huip">
                                        <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                        <img class="hui2" src="assets/icon/msg/huiyuan0.png" alt="">
                                    </p>

                                </div>
                                <p class="fabutime">{{miaos}}</p>

                            </div>

                            <div class="lastbox">
                                <p class="a">{{hour}}</p>
                                <div class="guanbox">
                                    <div>

                                        <button class="yiguanzhu">
                                                   已关注
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="darenxiuitem">
            <div class="darenxiubox">
                <div style="height:3vw"></div>
                <div class="towbox">
                    <div class="oa">
                        <img class="toux" src="assets/icon/msg/i2.png" alt="">
                        <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                    </div>
                    <div class="ob">
                        <div class="clear">
                            <div class="huiyuanbox">
                                <label class="name">{{manname}}</label>
                                <div *ngIf="IsVip==true" style="display: inline-block;">
                                    <p class="huip">
                                        <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                        <img class="hui2" src="assets/icon/msg/huiyuan0.png" alt="">
                                    </p>

                                </div>
                                <p class="fabutime">{{miaos}}</p>

                            </div>

                            <div class="lastbox">
                                <p class="a">{{hour}}</p>
                                <div class="guanbox">
                                    <div (click)="Isguanzhu()">
                                        <button class="weiguanzhu" *ngIf="guanzhu==false">
                                                        <span>关注</span>
                                                    </button>
                                        <button class="yiguanzhu" *ngIf="guanzhu==true">
                                                       已关注
                                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ion-content>