<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>找回密码</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="cent">


        <div class="itembox">
            <img src="assets/icon/login/shouji.png" class="tel" alt="">
            <input type="number" [(ngModel)]="tel" placeholder="请输入手机号" pattern="[0-9]*">
        </div>
        <div class="itembox">
            <img src="assets/icon/login/mima.png" class="mima" alt="">
            <input type="number" [(ngModel)]="code" placeholder="请输入验证码" pattern="[0-9]*">

            <p class="getcode">
                <button (click)="settime()" [disabled]="!verifyCode.disable" value="获取验证码">{{verifyCode.verifyCodeTips}}</button>
            </p>
        </div>


    </div>
    <div class="cent btnbox">
        <button (click)="topass()" class="loginbtn">下一步</button>
    </div>

</ion-content>