<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>选择城市</span>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="itembox">
        <div>
            <img src="assets/icon/set/u1.png" alt="">
        </div>
        <div>
            <p>个人信息<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img class="u2" src="assets/icon/set/u2.png" alt="">
        </div>
        <div>
            <p>实名认证<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img src="assets/icon/set/u3.png" alt="">
        </div>
        <div>
            <p>二维码名片<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img src="assets/icon/set/u4.png" alt="">
        </div>
        <div>
            <p>常用地址<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img src="assets/icon/set/u5.png" alt="">
        </div>
        <div>
            <p>检查更新<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img class="u6" src="assets/icon/set/u6.png" alt="">
        </div>
        <div>
            <p>清除缓存<span>（90909090M）</span><img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img class="u7" src="assets/icon/set/u7.png" alt="">
        </div>
        <div>
            <p> 意见反馈<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img src="assets/icon/set/u8.png" alt="">
        </div>
        <div>
            <p>关于我们<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>
    <div class="itembox">
        <div>
            <img src="assets/icon/set/u9.png" alt="">
        </div>
        <div>
            <p>帮助中心<img src="assets/icon/set/you.png" alt=""></p>
        </div>
    </div>

</ion-content>