// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.ion-color-primary {
    --ion-color-base: #f57c12 !important;
    --ion-color-base-rgb: var(--ion-color-warning-rgb, 255, 206, 0) !important;
    --ion-color-contrast: var(--ion-color-warning-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #f7844d !important;
    --ion-color-tint: #e68837 !important;
}

.ion-color-warning {
    --ion-color-base: #f57c12 !important;
    --ion-color-base-rgb: var(--ion-color-warning-rgb, 255, 206, 0) !important;
    --ion-color-contrast: var(--ion-color-warning-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #f7844d !important;
    --ion-color-tint: #e68837 !important;
}

:root {
    /** primary **/
    --ion-color-primary: #ff9100;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #be6d01;
    --ion-color-primary-tint: #f4af53;
    /** warning **/
    --ion-color-primary: #ff9100;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #be6d01;
    --ion-color-primary-tint: #fff;
}

:host(.segment-button-checked) .segment-button-indicator {
    background: linear-gradient(to bottom right, #fccf41, #f75f16) !important;
}

button,
input,
textarea {
    outline: none;
}

.cent {
    margin: 0 5%;
    width: 90%
}

.toux {
    border-radius: 100%;
}

.searchbar-input.sc-ion-searchbar-ios {
    padding-right: 0 !important
}

.btn {
    background: linear-gradient(to right, #FCCD3F, #FF9302);
    font-size: 3.2vw;
    color: #fff;
    border: none;
    border-radius: 5vw;
    padding: 1.5vw 5vw;
    outline: none;
}

.touxia {
    height: 11.3vw;
    width: 11.3vw;
}

.back {
    display: inline;
    width: 12vw;
    height: 11vw;
    float: left;
    padding: 3.5vw 2vw;
}

.yinyin {
    height: 100%;
    width: 100%;
    background: #171414b0;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.back img {
    height: 5.1vw;
    width: 2.7vw;
    position: relative;
    left: -1vw;
}

.head {
    text-align: center;
}

.sixinbox,
.pinglunbox {
    position: relative;
    top: -3vw;
}

.head span {
    font-size: 4.3vw;
    font-weight: 500;
    color: #333;
    position: relative;
    top: 2.5vw;
    // left: -4vw;
}

input,
textarea {
    -webkit-appearance: none;
}

textarea {
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
}

:host(.segment-button-checked) .segment-button-indicator {
    background-color: var(--indicator-color-checked, var(--color-checked));
}

:host(.segment-button-checked) .segment-button-indicator {
    --indicator-color-checked: transparent;
    --color-checked: transparent;
}

.segment-button-checked {
    --indicator-color-checked: transparent;
    // --color-checked: transparent;
}

.segment-button-indicator {
    --indicator-color-checked: transparent;
    // --color-checked: transparent;
}

@media screen and (max-width: 320px) {
    .button-native {
        --margin-start: 0;
        --margin-start: 0;
        --margin-end: 0;
        --padding-start: 0;
        --padding-end: 0;
    }
}

ion-label {
    font-size: 4.5vw;
    font-weight: 600;
}

.clearfloat {
    zoom: 1
}

.clearfloat:after {
    /* 这三句必须写 */
    display: block;
    clear: both;
    /*必须有这样写*/
    content: "";
    /*  这两句写不写无所谓*/
    /*visibility:hidden;*/
    /*height:0;*/
}