<ion-header>
    <ion-toolbar>
        <div class="head">
            <div class="back" (click)="back()">
                <img src="assets/icon/home/back.png" alt="">
            </div>
            <span>活动详情</span>
            <p class="fx" (click)="fx()"><img src="assets/icon/hand/fx.png" alt=""></p>
            <div style="both:clear"></div>
        </div>
        <div (click)="guanbifenx()">
            <div style="    background: #8e8b8b54;" *ngIf="fxx==true" class="yinyin"></div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div (click)="guanbifenx()">
        <div *ngIf="fxx==true" class="yinyin"></div>
    </div>
    <div class="fenxiangbox" *ngIf="fxx==true">
        <div class="cent">
            <div class="asd">
                <img (click)="guanbifenx()" class="guanbi" src="assets/icon/hand/gb.png" alt="">
            </div>
            <div class="fxnrbox">
                <div>
                    <img src="assets/icon/hand/share_wechat.png" alt="">
                    <p>微信</p>
                </div>
                <div>
                    <img src="assets/icon/hand/share_wxcircle.png" alt="">
                    <p>朋友圈</p>
                </div>
                <div>
                    <img src="assets/icon/hand/share_sina.png" alt="">
                    <p>微博</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bod">
        <div>
            <div class="imgbox">
                <img class="headimg" src="assets/icon/activity/n2.png" alt="" />
                <div>
                    <p style="display:inline" (click)="details()">
                        查看活动详情
                        <img class="hd" *ngIf="zhankai==1" src="assets/icon/hand/xia.png" alt="" />
                        <img class="youhd" *ngIf="zhankai!=1" src="assets/icon/hand/you.png" alt="" />
                    </p>
                </div>
            </div>
        </div>



        <!-- 活动详情 -->
        <div *ngIf="zhankai == 1">
            <div class="itembox">
                <div style="height:3vw"></div>
                <div>
                    <p class="biaoti">
                        <img src="assets/icon/hand/hd.png" alt="">
                        <span>活动介绍</span>
                    </p>
                    <p class="jieshao">
                        {{jieshao}}
                    </p>
                </div>
            </div>
            <div class="itembox">
                <div>
                    <p class="biaoti">
                        <img src="assets/icon/hand/hd.png" alt="">
                        <span>活动规则</span>
                    </p>
                    <p class="jieshao">1.你是大家及时的金额为 i 收到你的身边呢</p>
                    <p class="jieshao">
                        2.{{timemiaosu}}
                    </p>
                </div>
            </div>
            <div class="itembox">
                <div>
                    <p class="biaoti">
                        <img src="assets/icon/hand/hd.png" alt="">
                        <span>活动时间</span>
                    </p>
                    <p class="jieshao">
                        {{time}}
                    </p>
                </div>
            </div>
            <div class="itembox">
                <div>
                    <p class="biaoti">
                        <img src="assets/icon/hand/hd.png" alt="">
                        <span>任务开始时间</span>
                    </p>
                    <label for="">{{time}}</label>
                    <p class="jieshao">
                        {{timemiaosu}}
                    </p>
                </div>
            </div>
        </div>
        <div class="itembox">
            <div>
                <div style="height:3vw"></div>
                <p class="biaoti">
                    <img src="assets/icon/hand/hd.png" alt="">
                    <span>活动奖励</span>
                </p>
                <p class="jieshao">
                    {{reward}}
                </p>
            </div>
        </div>
        <div class="itembox">
            <div>
                <!-- <div style="height:3vw"></div> -->
                <div class="panm">
                    <p class="biaoti">
                        <img src="assets/icon/hand/hd.png" alt="">
                        <span>我的排名</span>
                    </p>
                    <p class="mingci">
                        第{{mingci}}名
                    </p>
                </div>

            </div>
        </div>
        <div class="itembox">
            <div (click)="tocanyu()">
                <p class="biaoti">
                    <img src="assets/icon/hand/hd.png" alt="">
                    <span>活动关卡</span>
                    <span class="canyu">{{canyu}}人已参与</span>
                </p>
                <div class="guanka">
                    <div class="txboxyi">
                        <p>
                            一关
                            <!-- <img src={{i}} alt="">*ngFor="let i of imgs" -->

                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">


                        </p>
                        <div class="youyibox">
                            <img class="youyi" src="assets/icon/hand/you.png" alt="">
                        </div>
                    </div>
                    <div class="yiren">
                        <span>已完成{{mancount}}人</span>
                    </div>
                </div>

                <div class="guanka">
                    <div class="txboxyi">
                        <p>
                            二关
                            <!-- <img src={{i}} alt="">*ngFor="let i of imgs" -->
                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">
                        </p>
                        <div class="youyibox">
                            <img class="youyi" src="assets/icon/hand/you.png" alt="">
                        </div>
                    </div>
                    <div class="yiren">
                        <span>已完成{{mancount}}人</span>
                    </div>
                </div>
                <div class="guanka">
                    <div class="txboxyi">
                        <p>
                            三关
                            <!-- <img src={{i}} alt="">*ngFor="let i of imgs" -->
                            <img src="assets/icon/hand/tx.png" alt="">
                        </p>
                        <div class="youyibox">
                            <!-- <img class="youyi" src="assets/icon/hand/you.png" alt=""> -->
                        </div>
                    </div>
                    <div class="yiren">
                        <span>已完成{{mancount}}人</span>
                    </div>
                </div>
                <div class="guanka">
                    <div class="txboxyi">
                        <p>
                            四关
                            <!-- <img src={{i}} alt="">*ngFor="let i of imgs" -->
                            <img src="assets/icon/hand/tx.png" alt="">
                            <img src="assets/icon/hand/tx.png" alt="">
                        </p>
                        <div class="youyibox">
                            <!-- <img class="youyi" src="assets/icon/hand/you.png" alt=""> -->
                        </div>
                    </div>
                    <div class="yiren">
                        <span>已完成{{mancount}}人</span>
                    </div>
                </div>
                <div class="guanka">
                    <div class="txboxyi">
                        <p>
                            五关
                            <!-- <img src={{i}} alt="">*ngFor="let i of imgs" -->
                            <img src="assets/icon/hand/tx.png" alt="">
                        </p>
                        <div class="youyibox">
                            <!-- <img class="youyi" src="assets/icon/hand/you.png" alt=""> -->
                        </div>

                    </div>
                    <div class="yiren">
                        <span>已完成{{mancount}}人</span>
                    </div>
                </div>


            </div>

        </div>
        <div class="itembox">
            <div style="background:#fff">
                <img (click)="towin()" src="assets/icon/activity/dej.png" alt="">

            </div>
        </div>
        <div>
            <div class="a">
                <p class="biaoti">
                    <img src="assets/icon/hand/hd.png" alt="">
                    <span>第一关</span>
                </p>
                <img style=" height: 5vw;" src="assets/icon/mine/shangchuan.png" alt="">

            </div>
            <div style="border-bottom: 3vw solid #f7f7f7;">
                <div class="onebox">
                    <div class="oa">
                        <img class="toux" src="assets/icon/msg/i2.png" alt="">
                        <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                    </div>
                    <div class="ob">
                        <div class="clear">
                            <div class="huiyuanbox">
                                <label class="name">{{namepeople}}</label>
                                <div *ngIf="IsVip==true">
                                    <p class="huip">
                                        <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                        <img class="hui2" src="assets/icon/hand/dr.png" alt="">
                                    </p>
                                </div>
                            </div>
                            <div class="lastbox">
                                <div class="guanz" (click)="Isguanzhu()">
                                    <button class="weiguanzhu" *ngIf="guanzhu==false">
                                                        <span>关注</span>
                                                    </button>
                                    <button class="yiguanzhu" *ngIf="guanzhu==true">
                                                       已关注
                                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="sl">
                            <p class="miaosu">{{pinl}}</p>
                        </div>

                    </div>
                </div>
                <div class="backgoundh">
                    <div class="elseboxh">
                        <div class="imgboxh" (click)="towinpage()">
                            <p class="aiteh">{{manmsg}}</p>
                            <div>
                                <img src="assets/icon/msg/d1.png" alt="">
                                <img src="assets/icon/msg/d20.png" alt="">
                                <img src="assets/icon/msg/d3.png" alt="">

                            </div>
                            <div>
                                <img src="assets/icon/msg/d4.png" alt="">
                                <img src="assets/icon/msg/d5.png" alt="">
                                <img src="assets/icon/msg/d6.png" alt="">

                            </div>

                        </div>
                        <div class="caozuoBoxh">
                            <div>
                                <img src="assets/icon/activity/pinlun.png" alt="">
                                <span>89897</span>
                            </div>
                            <div>
                                <img src="assets/icon/activity/chakan.png" alt="">
                                <span>89897</span>
                            </div>

                            <div (click)="dianzanfun()">
                                <img class="aixin" *ngIf="isdianzan==true" src="assets/icon/home/heart.png" alt="">
                                <img class="aixin" *ngIf="isdianzan==false" src="assets/icon/home/aixin.png" alt="">
                                <span>89897</span>
                            </div>
                        </div>

                    </div>
                    <div style="height: 4vw;margin-bottom: 3vw;"></div>
                </div>

            </div>
        </div>

        <div class="a">
            <p class="biaoti">
                <img src="assets/icon/hand/hd.png" alt="">
                <span>第一关</span>
            </p>
            <img style=" height: 5vw;" src="assets/icon/mine/shangchuan.png" alt="">

        </div>
        <div style="border-bottom: 3vw solid #f7f7f7;">
            <div class="onebox">
                <div class="oa">
                    <img class="toux" src="assets/icon/msg/i2.png" alt="">
                    <img class="vip" *ngIf="IsVip ==true" src="assets/icon/msg/toux.png" alt="">
                </div>
                <div class="ob">
                    <div class="clear">
                        <div class="huiyuanbox">
                            <label class="name">{{namepeople}}</label>
                            <div *ngIf="IsVip==true">
                                <p class="huip">
                                    <img class="hui1" src="assets/icon/msg/huiyuan.png" alt="">
                                    <img class="hui2" src="assets/icon/hand/dr.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="lastbox">
                            <div class="guanz" (click)="Isguanzhu()">
                                <button class="weiguanzhu" *ngIf="guanzhu==false">
                                                        <span>关注</span>
                                                    </button>
                                <button class="yiguanzhu" *ngIf="guanzhu==true">
                                                       已关注
                                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="sl">
                        <p class="miaosu">{{pinl}}</p>
                    </div>

                </div>
            </div>

            <div class="backgoundh">
                <div class="elseboxh" (click)="towinpage()">
                    <div class="imgboxh">
                        <p class="aiteh">{{manmsg}}</p>
                        <div>
                            <img src="assets/icon/msg/d1.png" alt="">
                            <img src="assets/icon/msg/d20.png" alt="">
                            <img src="assets/icon/msg/d3.png" alt="">

                        </div>
                        <div>
                            <img src="assets/icon/msg/d4.png" alt="">
                            <img src="assets/icon/msg/d5.png" alt="">
                            <img src="assets/icon/msg/d6.png" alt="">

                        </div>

                    </div>
                    <div class="caozuoBoxh">
                        <div>
                            <img src="assets/icon/activity/pinlun.png" alt="">
                            <span>89897</span>
                        </div>
                        <div>
                            <img src="assets/icon/activity/chakan.png" alt="">
                            <span>89897</span>
                        </div>

                        <div (click)="dianzanfun()">
                            <img class="aixin" *ngIf="isdianzan==true" src="assets/icon/home/heart.png" alt="">
                            <img class="aixin" *ngIf="isdianzan==false" src="assets/icon/home/aixin.png" alt="">
                            <span>89897</span>
                        </div>
                    </div>

                </div>
                <div style="height: 4vw;margin-bottom: 3vw;"></div>
            </div>
        </div>



    </div>



</ion-content>